/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* Google Fonts CSS */
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#header {
  max-width: 1172px;
}
#main {
  max-width: 1166px;
}
